@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  background: url(img/background-pattern-desktop.svg);
  background-repeat: repeat-x;
  background-color: #f9eefe;
  color: hsl(292, 42%, 14%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.faqs {
  margin: 0 auto;
  padding: 2.5rem;
  max-width: 38rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.heading {
  font-weight: 800;
  font-size: 3.2rem;
  margin: 0;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: hsl(292, 42%, 14%);
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:active {
  cursor: pointer;
  color: #ae30e7;
}
.accordion button:hover::after, .accordion button:active::after {
  cursor: pointer;
  color: #ae30e7;
  border: 1px solid #ae30e7;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 0 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px #ae30e7 solid;
  border-radius: 22px;
  background-color: #ae30e7;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: hsl(0, 0%, 100%);
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: hsl(0, 0%, 100%);
}
.accordion button[aria-expanded=true] {
  color: hsl(292, 42%, 14%);
}
.accordion button[aria-expanded=true] .icon {
  border: 1px hsl(292, 42%, 14%) solid;
  background-color: hsl(292, 42%, 14%);
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 10rem;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  color: #818181;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
}

hr {
  border: none;
  border-top: 1px double #f8edfe;
}

.attribution {
  background-color: hsl(0, 0%, 100%);
  margin-top: 3rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

@media (max-width: 56.5rem) {
  body {
    background: url(img/background-pattern-mobile.svg);
    background-repeat: repeat-x;
  }
  .faqs {
    margin: 0 2rem;
  }
  .accordion button {
    padding-right: 6rem;
  }
}/*# sourceMappingURL=style.css.map */